<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register or Login</title>
    <style>
        body {
            padding: 10px;
        }
    
        h2, p {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            margin-left: 10px;
        }

        p {
            color: green;
        }
    
       
        </style>
    
 
</head>

<body>
    <h2>Success! Welcom, Andrew!</h2>
    <p>Successfully registered (or logged in)!</p>
</body>

</html>



