*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   }
   a:link {
    color:black;
  }

#header{
    width: 930px;
    background-color:rgb(248,248,248);
    padding: 20px;
    
}

#header h1{
    display: inline-block;
    width: 460px;
    }

#header h2{
    text-align: right;
    display: inline-block;
    width: 460px;
}

#main{
    width: 930px;
    padding: 20px;
    background-color: rgb(111,89,100);
}

.picture{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border:5px solid rgb(192,192,192);
}

#about{
width: 452px;
display: inline-block;
margin: 0px;
vertical-align: top;
}
#about h2{
    background-color: rgb(142,140,152);
    border: 5px solid rgb(142,140,152);
    color: white;

}
#about-text {
background-color: white;
border: 5px solid white;
color: black;
height: 254px;
margin-bottom: 20px;

}
.content{
    height: 600px;
    width: 300px;
    background-color: greenyellow;
    margin-right: 10px;
    display: inline-block;
}
#footer{
    width: 940px;
    background-color: silver;
    padding: 10px;
}
