*{
    margin: 0px;
    padding: 0px;
    font-weight: normal; 
}

#top{
    width: 850px;
    height: 435px;
    background-color:rgb(38,81,117);
    padding: 10px;
}

#top img{
display: inline-block;
vertical-align: top;
padding: 10px;
}

#top-right{
    display: inline-block;
vertical-align: top;
margin-left: 235px;
}

#top-right h4{
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}

.gbox{
    width:260px;
    height: 55px;
    background-color: rgb(68,68,68);
    border-radius: 5px;
    margin-top: 7px;
}

#navbar{
    width: 770px;
    height: 45px;
    background-color: rgb(74,128,171);
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
}

#navbar h4{
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
    margin-left: 17px;
    margin-top: 13px;
    font-size: 19px;
   
}

#links{
    height: 200px;
    width: 180px;
    margin-left: 65px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    display: inline-block
}

#links ul{
    margin-top: 10px;
}

#links li{
    margin-bottom: 5px;
}

#links a{
    color: white;
}

#content{
    width: 580px;
    height: 250px;
    vertical-align: top;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

.italic{
    font-style: italic;
    margin: 10px;
    font-size: 17px;
    color: rgb(251,208,67)
}

#mid{
    width: 850px;
    height: 200px;
    background-color: white;
    padding: 10px;
}

.spacer{
    height: 100%;
    width: 65px;
    vertical-align: top;
    display: inline-block;
}
.box{
    height: 100%;
    width: 370px;
    vertical-align: top;
    display: inline-block;
    border-top: 5px solid rgb(117,168,211);
    margin-right: 10px;
}

.center{
    text-align: center;
    margin-right: 20%;
    height: 100%;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.center h4{
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;
}

.center p{
    margin-top: 5px;
}

.center ul{
    margin-left: 40px;
    margin-right: 10px;
}

.center a{
    text-decoration: none;
}
#footer{
    width: 850px;
    height: 90px;
    background-color:rgb(38,81,117);
    padding: 10px;
    text-align: center;
    color: rgb(137,186,227);    
}

#footer h4{
    display: inline-block;
    margin-top:50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}