<!DOCTYPE html>

<html>

<head>
    <style>
        .border {
            
            margin: 10px auto;
            text-align: center;
        }
        .label {
            width: 15%;
            padding: 5px;
        }
        .time {
            width: 30%;
            border: 1px solid black;
        }
        .button{
            margin: auto;
            width: 10%;
            text-align: center;
        }
    </style>
</head>

<body></body>
<div class="border label">Random Word (attempt #13)</div>
<div class="border time"><h1>{{random}}</h1></div>
<div class="button"><button type="button">Generate</button></div> 
</body>

</html>