<!DOCTYPE html>

<html>

<head>
    <style>
        .border {

            margin: 10px auto;
            text-align: center;
        }

        .label {
            width: 15%;
            padding: 5px;
        }

        .time {
            width: 30%;
            border: 1px solid black;
        }

        .button {
            margin: auto;
            text-align: center;


        }
    </style>
</head>

<body></body>
<div class="border label">Random Word (attempt #{{request.session.count}})</div>
<div class="border time">
    <h1>{{random}}</h1>
</div>
<div class="button">
    <form action="../random_word/" method="post">
        {% csrf_token %}
        <input type='submit' value='Generate'>
</div>
</form>
</body>

</html>