*{
	
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid red;
	font-weight: normal;
	margin: 0;
}

#wrapper{
	width: 970px;
	height: 970px;
	
}

#header{
	width: 970px;

}

#header img{
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}

#header h1{
	display: inline-block;
	font-size: 35px;

}

.bluetxt{
color: rgb(71,125,170);
}

#header h2{
	color: white;
	width: 950px;
	padding: 10px;
	background-color: rgb(71,125,170);
	font-size: 25px;
}

#nav{
	width:17%;
	height: 500px;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
	
}

.redtxt{
	color: red;
	font-weight: bold;
}

#nav h5{
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#nav h6{
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#nav img{
	width: 100%;
	color: white;
}

#video{
width: 100%;
color: white;
background-color: rgb(71,125,170);
padding: 5px;
margin-bottom: 5px;
border-radius: 5px;
}

#resources{
	width: 100%;
	background-color: rgb(240,123,6);
	padding: 5px;
	color: white;
	margin-bottom: 20px;
border-radius: 5px;

}
#main{
	width: 80%;
	height: 500px;
	display: inline-block;
	vertical-align: top;
}

#main img{
width: 20px;
display: inline-block;
vertical-align: middle;
margin-top: 0px;
}

#main h5{
	display: inline-block;
	vertical-align: middle;
}