<!DOCTYPE html>

<html>

<head>
    <style>
        label {
            width: 150px;
            padding-right: 20px;
            display: inline-block;
            text-align: left;
        }

        select,
        input {
            width: 200px;
        }

        textarea {
            width: 80%;
        }

        .outer {
            margin: 10px auto;
            width: 35%;
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="outer">
        <form action="process/" method="post">
            {% csrf_token %}
            <p>
                <label>Your Name: </label>
                <input type="text" name="name">
            </p>
            <p>
                <label>Dojo Location: </label>
                <select name="location">
                    <option value="San Francisco">San Francisco</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Moscow">Moscow</option>
                    <option value="Managua">Managua</option>
                </select>
            </p>
            <p>
                <label>Favorite Language: </label>
                <select name="language">
                    <option value="Cobol">Cobol</option>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="PHP">PHP</option>
                </select>
            </p>
            <p>
                <label class="comment">Comment (optional): </label>
            </p>
            <p>
                <textarea name="comment" rows="5"></textarea>
            </p>
            <input type='submit' value='Submit'>
        </form>
    </div>
</body>

</html>