<html>

<head>
  <title>Form Test Index</title>
</head>

<body>

  <form action="/process" method="post">
    <p>Your Name:
      <input type="text" name="name">
    </p>
    <p>Dojo Location:
      <input type="text" name="location">
    </p>
    <p>Favorite Language:
      <select name="language">
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="c#">C#</option>
      </select>
    </p>
    <p>Comment (optional):</p>
      <p><textarea name="comment"></textarea></p>
    
    <input type="submit" value="Submit">
    <input type="reset">
  </form>
</body>

</html>